<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>GemFire OSS</title>

    <link rel="stylesheet" href="/apache-gemfire-staging/stylesheets/styles.css">
    <link rel="stylesheet" href="/apache-gemfire-staging/stylesheets/pygment_trac.css">
    <script src="/apache-gemfire-staging/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <a id='logo' href='/apache-gemfire-staging/'>Logo</a>
      <div id='navigation'>
        <ul>
          <li><a href='/apache-gemfire-staging/download'>Download</a></li>
          <li><a href='/apache-gemfire-staging/getting-started'>Getting Started</a></li>
          <li><a href='/apache-gemfire-staging/community'>Community</a></li>
          <li><a href='/apache-gemfire-staging/contribute'>Contribute</a></li>
        </ul>
      </div>
    </header>
    {{ content }}
    <footer>
      <p>&copy; <script>var d = new Date();document.write(d.getFullYear());</script></p>
    </footer>
  </body>
</html>